Use master
go
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = 'MiniMart')
	DROP DATABASE MiniMart
GO

create Database MiniMart
go

Alter Database MiniMart Collate Thai_CI_AS
go

Use MiniMart
go

CREATE TABLE Employees(
	EmployeeID int identity(1,1) NOT NULL,
	Title varchar(20) NULL,
	FirstName varchar(50) NOT NULL,
	LastName varchar(50) NULL,
	Position varchar(50) NULL,
	UserName varchar(50) NULL,
	Password varchar(50)  NULL,
    PRIMARY KEY  (EmployeeID))
GO

CREATE TABLE Categories(
	CategoryID int identity(1,1) NOT NULL,
	CategoryName varchar(50) NOT NULL,
	Description varchar(200) NULL,
	PRIMARY KEY (CategoryID))
GO

CREATE TABLE Products(
	productID varchar(13) NOT NULL,
	ProductName Varchar(50) NOT NULL,
	UnitPrice Money NOT NULL Default 0,
	UnitsInStock int NOT NULL Default 0,
	CategoryID int references Categories(CategoryID),
	Discontinued bit NOT NULL Default 0,
	PRIMARY KEY (productID))
GO

CREATE TABLE Receipts(
	ReceiptID int identity(1,1) NOT NULL,
	ReceiptDate datetime NULL,
	EmployeeID int References Employees(EmployeeID),
	TotalCash money NULL,
	PRIMARY KEY (ReceiptID))
GO
CREATE TABLE Details(
	ReceiptID int References Receipts(ReceiptID) NOT NULL,
	ProductID varchar(13) References Products(ProductID)NOT NULL,
	UnitPrice money NOT NULL,
	Quantity int NOT NULL,
    PRIMARY KEY (ReceiptID,ProductID))
go

------------------------- สร้าง Store Procedure insert, update, delete -----
Create or Alter Procedure InsertCategories
	@CategoryName varchar(50), @Description varchar(200)
	as
	begin
		insert into Categories Values(@CategoryName,@Description)
	end
go
----------------------------------------------------
Create or Alter Procedure UpdateCategories
	@categoryID int, 
	@CategoryName varchar(50), @Description varchar(200)
	as
	begin
		Update Categories set CategoryName = @CategoryName, Description = @Description
		where CategoryID = @categoryID
	end
go
----------------------------------------------------

Create or Alter Procedure DeleteCategories
	@categoryID int
	as
	begin
		Delete from Categories
		where CategoryID = @categoryID
	end
go
----------------------------------------------------
Create or Alter Procedure InsertProducts
	@productID varchar(13), @ProductName varchar(50), 
	@UnitPrice Money = 0 ,@UnitsInStock int =0 ,
	@CategoryID int, @Discontinued bit =0
	as
	begin
		Insert into Products
		Values(@productID, @ProductName,@UnitPrice,@UnitsInStock,
				@CategoryID, @Discontinued)
	end
go
--------------------------------------------------
Create or Alter Procedure UpdateProducts
	@productID varchar(13), @ProductName varchar(50), 
	@UnitPrice Money,@UnitsInStock int,
	@CategoryID int, @Discontinued bit,
	@NewProductID varchar(13)
	as
	Begin
		Update Products set ProductID = @NewProductID,
		                    ProductName = @ProductName, UnitPrice = @UnitPrice,
							UnitsInStock = @UnitsInStock, CategoryID = @CategoryID,
							Discontinued = @Discontinued
		where productID = @productID				
	end
go
-----------------------------------------------------
Create or Alter Procedure DeleteProducts
	@productID varchar(13)
	as
	begin
		Delete from Products where productID = @productID
	end
go
----------------Employees--------------------------------
Create or Alter Procedure InsertEmployees
	@Title varchar(20), @FirstName varchar(50), @LastName varchar(50),
	@Position varchar(50), @Username varchar(50), @Password varchar(50)
	as
	begin 
		Insert into Employees
		Values(@Title, @FirstName, @LastName,@Position, @Username, @Password)
	end
go
-------------------------------------------------------
Create or Alter Procedure UpdateEmployees
	@EmployeeID int,
	@Title varchar(20), @FirstName varchar(50), @LastName varchar(50),
	@Position varchar(50), @Username varchar(50), @Password varchar(50)
	as
	begin 
		Update Employees set Title = @Title , FirstName = @FirstName, LastName = @LastName,
							Position = @Position, UserName = @Username, Password = @Password
		where EmployeeID = @EmployeeID
	end
go
-------------------------------------------------------
Create or Alter Procedure DeleteEmployees
	@EmployeeID int
	as
	begin
		Delete from Employees
		where EmployeeID = @EmployeeID
	end
go
--------------------Receipts--------------------------
Create or Alter Procedure InsertReceipts
	@ReceiptDate datetime, @EmployeeID int, @TotalCash money
	as
	begin
		Insert Into Receipts 
		Values(@ReceiptDate,@EmployeeID,@TotalCash)
	end
go
-------------------------------------------------------
Create or Alter Procedure UpdateReceipts
	@ReceiptID int,
	@ReceiptDate datetime, @EmployeeID int, @TotalCash money
	as
	begin
		Update Receipts set ReceiptDate = @ReceiptDate, 
							EmployeeID = @EmployeeID, 
							TotalCash = @TotalCash
		Where ReceiptID = @ReceiptID
	end
go
-------------------------------------------------------
Create or Alter Procedure DeleteReceipts
	@ReceiptID int
	as
	begin
		--ลบข้อมูลใบเสร็จ
		Delete From Receipts 
		Where ReceiptID = @ReceiptID 
		--ลบข้อมูลรายการในใบเสร็จ
		Delete From Details
		Where ReceiptID = @ReceiptID
	end
go
---------------------Details ทำแค่ insert ก็พอ------------------------
Create or Alter Procedure InsertDetails
	@ReceiptID int, @ProductID varchar(13), @UnitPrice money, @Quantity int
	as
	begin
		Insert into Details
		Values(@ReceiptID, @ProductID, @UnitPrice, @Quantity)
	end
go
------------------------- สร้างวิวสำหรับทำรายงาน-------------------------------
--แสดงยอดขายตามใบเสร็จ
create view ReportByReceipt as
select r.ReceiptID,convert(varchar, ReceiptDate, 6) วันที่จำหน่าย, FirstName
          ,TotalCash,COUNT(*) จำนวนชนิดสินค้า
from Receipts r join Details d on r.ReceiptID = d.ReceiptID
                join Employees e on r.EmployeeID = e.EmployeeID
group by r.ReceiptID,convert(varchar, ReceiptDate, 6),TotalCash, FirstName
go
--แสดงยอดขายตามประเภทสินค้า
Create view ReportByCategory as
select c.CategoryID,CategoryName,sum(d.UnitPrice*Quantity) ยอดรวม
from Details d join Products p on p.productID = d.ProductID
               join Categories c on c.CategoryID = p.CategoryID
group by c.CategoryID,CategoryName
go
--แสดงยอดขายตามพนักงาน
Create view ReportByEmployee as
select e.EmployeeID, Title+FirstName+SPACE(2)+LastName EmpName, 
       sum(totalCash) ยอดขายรวม, count(*) จำนวนใบเสร็จ
from receipts r join Employees e on r.EmployeeID = e.EmployeeID
group by e.EmployeeID, Title+FirstName+SPACE(2)+LastName
go


----------------------------   เพิ่มข้อมูลตัวอย่าง------------------------------
--------------Employees-----------------------
insert into Employees Values('นางสาว','กรกนก','พรมคำ','Sale Manager','user1','1234')
insert into Employees Values('นาย','อาณัฐชัย','ไวยศรีแสง','Sale Manager','user2','1234')
insert into Employees Values('นางสาว','รัฐชฎาภรณ์','ฉลองบุญ','Sale Representative','user3','1234')
go
--------------Categories----------------------
insert into Categories Values('เครื่องเขียน','เช่น ดินสอ ยางลบ กระดาษ น้ำยาลบคำผิด เป็นต้น')
insert into Categories Values('เครื่องดื่ม','น้ำอัดลม กาแฟ น้ำดื่ม น้ำผลไม้ นม ยาชูกำลัง')
insert into Categories Values('อาหารสำเร็จรูป','บะหมี่สำเร็จรูป ปลากระป๋อง อาหารแช่แข็ง')
go
-------------------------------------
insert into Products Values('1','ดินสอ',15,290,1,0)
insert into Products Values('2','ยางลบ',17,400,1,0)
insert into Products Values('3','กระดาษ (รีม)',105,250,1,1)
go
-------------------Receipts-------------------------------------
insert into Receipts Values('2013/02/07',4,115)
insert into Receipts Values('2013/02/10',4,216)
insert into Receipts Values('2013/02/07',5,125)
go
-------------------Details---------------------
insert into Details Values(1,'1',25,1)
insert into Details Values(1,'2',17,3)
insert into Details Values(1,'3',45,3)
go
-----------------------------------------------
select * from Employees
select * from Categories
select * from products
select * from Receipts
Select * from Details
--โค้ดสำหรับเพิ่มข้อมูลตาราง Categories,Products,Employees เอาข้อมูลจาก Northwind
----------insert Categories from Northwind----------
--insert into Categories(CategoryName,Description)
--select CategoryName,Description
--from Northwind.dbo.Categories
-------------insert Products from Northwind------------
--insert into Products(productID,ProductName,UnitPrice,UnitsInStock,CategoryID,Discontinued)
--select Cast(productID as CHAR(13)),ProductName,UnitPrice,UnitsInStock,CategoryID,Discontinued
--from Northwind.dbo.Products
--where Discontinued = 0
-----------insert Employee from Northwind--------------
--declare @i as int = 1
--declare @N as int
--select @N = COUNT(*) from Northwind.dbo.Employees
--While @i<=@N
--begin
--insert into Employees(Title,FirstName,LastName,Position,UserName,Password)
--Select TitleOfCourtesy,FirstName,LastName,Title,'user0'+convert(varchar,@i),'pass0'+convert(varchar,@i)
--from Northwind.dbo.Employees
--where EmployeeID = @i
--set @i = @i+1
--end
